@{
    ViewBag.Title = "Index";
}

<div class="container">
	 <form class="form-signin" action="../Contacto/enviarCorreo" method="post">
        <h2 class="form-signin-heading">Contactar</h2>
        <input type="Text" class="input-block-level" name="name" placeholder="Nombre"> 
        <input type="Text" class="input-block-level" name="email" placeholder="Correo"> 
        <textarea class="input-block" name="message placeholder="Mensaje"></textarea><br />
        <input class="btn btn-large btn-primary" type="submit" value="Enviar"> 
    </form> 
</div>
