@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row clearfix" style="margin: 60px">
        <div class="col-md-3 column"></div>

        <form action="/Contacto/enviarCorreo" method="post">
            <div class="col-md-6 column">
                <h1 style="margin-bottom: 60px">Enviame un mensaje</h1>
                <div style="margin-bottom: 22px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon"></i></span>
                    <input type="text" class="form-control" name="name" placeholder="Name">                                        
                </div>

                <div style="margin-bottom: 22px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon"></i></span>
                    <input type="text" class="form-control" name="email" placeholder="Email">                                        
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon"></i></span>
                    <textarea class="form-control" name="message" placeholder="Message" rows="6"></textarea>
                </div>

                <button type="submit" class="btn btn-lng btn-primary pull-right">Enviar</button>

            </div>
        </form>

        <div class="col-md-3 column"></div>
    </div><!--row-->
</div><!--container-->
