@{
    ViewBag.Title = "Index";
}

<div class="container">
	<form class="form-signin" action="../recomendaciones/guardar" method="post">
        <h2 class="form-signin-heading">Recomendar</h2>
        <input type="Text" class="input-block-level" name="name" placeholder="Nombre"> 
        <input type="Text" class="input-block-level" name="phone" placeholder="Teléfono"> 
        <input type="Text" class="input-block-level" name="email" placeholder="Correo"> 
        <textarea name="Comment" class="input-block-level"  placeholder="Comentario"></textarea><br />
        <input class="btn btn-large btn-primary" type="submit" value="Enviar"> 
    </form> 			
</div>
